main.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  width: auto;
}